<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hardware_core)/urdf/helpers/inertial_macros.xacro" />

    <xacro:macro name="cylinder_link" params="name radius length o_z mass *material">
        <link name="${name}">
            <visual>
                <origin xyz="0 0 ${o_z}" />
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <xacro:insert_block name="material" />
            </visual>
            <collision>
                <origin xyz="0 0 ${o_z}" />
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="${mass}" radius="${radius}" length="${length}">
                <origin xyz="0 0 ${o_z}"/>
            </xacro:inertial_cylinder>
        </link>
    </xacro:macro>
</robot>
