<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hardware_core)/urdf/helpers/box_link.xacro" />
    <xacro:include filename="$(find hardware_core)/urdf/helpers/materials.xacro" />

    <xacro:macro name="chassis" params="parent xyz">
        <xacro:property name="x" value="4.876" />
        <xacro:property name="y" value="0.386" />
        <xacro:property name="z" value="0.4" />

        <xacro:property name="o_x" value="-${x/2}" />
        <xacro:property name="o_y" value="0" />
        <xacro:property name="o_z" value="0.1" />

        <joint name="chassis_joint" type="fixed">
            <parent link="${parent}" />
            <child link="chassis" />
            <origin xyz="${xyz}" />
        </joint>

        <xacro:box_link name="chassis" x="${x}" y="${y}" z="${z}" o_x="${o_x}" o_y="${o_y}" o_z="${o_z}" mass="708.43">
            <xacro:material_light_grey />
        </xacro:box_link>
    </xacro:macro>
</robot>
