<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hardware_gazebo)/urdf/components/_wheel.xacro" />

    <xacro:wheel_gz link_name="wheel_front_left"/>
    <xacro:wheel_gz link_name="wheel_front_right"/>
    <xacro:wheel_gz link_name="wheel_rear_left"/>
    <xacro:wheel_gz link_name="wheel_rear_right"/>

    <ros2_control name="racecar_gazebo" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="steering_knuckle_left_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="steering_knuckle_right_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="wheel_front_left_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="wheel_front_right_joint">
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="wheel_rear_left_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="wheel_rear_right_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </ros2_control>
</robot>
